#!/bin/bash
#Cyberpatriot Scoring Engine: Linux v 0.3
#
#Set up your scoring by changing the values in this file. Turning
#off silentMiss is helpful for debugging. Many of these you can 
#leave blank if you are not scoring them. Once you have this file
#set up, then open a terminal and navigate to the CSEL directory
#and run sudo ./install.sh. This will create the csel file, the 
#index file, and a cron job to update scoring every 2 minutes. 
#After this, you can delete the CSEL directory.
#
#################################################################
#####---------------------Configuration---------------------#####

index=("/home/lknope/Desktop/ScoreReport.html") #Where do you want the score report to be generated? This CANNOT be left blank.
silentMiss=(y) # y for silent misses, n will tell students generally where points are missing
goodUser=(lknope thaverford rswanson) #10 point penalty for deleting these users
badUser=(aludgate bmacklin) #10 points for deleting bad users
changePassword=(thaverford rswanson) #5 points for changing user password
removeAdmin=(adwyer) #10 points for removing bad admins
disableGuest=(y) #y for 5 points for disabling guest account, n for no scoring
disableAutoLogin=(y) #y for 5 points for disabling auto login, n for no scoring. 7 pts
minPassAge=(1) #set to value of the min password age you want scored. Leave blank for no scoring. 7 pts
maxPassAge=(30) #set to value of the max password age you want scored. Leave blank for no scoring. 7pts
maxLoginTries=(5) #set to value of the max login tries allowed. Leave blank for no scoring
goodPrograms=(gedit libpam-cracklib) #10 points for each good program installed
badPrograms=(reaver vino openssh-server) #10 points for each bad program uninstalled
badFiles=(/home/thaverford/Music/MyJam.ogg /home/thaverford/Downloads/.E720.mp4.gz) # 7 points for deleting each bad files
backdoor=() #10 points for removing backdoor. Enter the name of your backdoor (usually nc)
checkHosts=(google) #enter a word from the line that you want removed from hosts file. 7 pts
checkCronTab=(exporter.sh) #enter a word from the line in crontab that you want removed (currently only supports root) 10 pts
forensicsPath=(/home/lknope/Desktop/Question1.txt) #where is your forensics question?
forensicsAnswer=(.bashrc) #answer to your forensics question (must be preceded by <ANSWER>: in your file)


#####---------------------Configuration---------------------#####
#################################################################
